<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/rpiSetting.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        window.onload = function () {
            $('#dateMethod').change(function () {
                if ($(this).val() == 'manual') {
                    $('.date-set').show();
                } else {
                    $('.date-set').hide();
                }

                if ($(this).val() == 'ntp') {
                    $('.set-ntp-display').show();
                } else {
                    $('.set-ntp-display').hide();
                }
            });

            $('#setTime').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "setRpiTime",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        dateMethod: $('#dateMethod').val(),
                        date: $('#setDateVal').val(),
                        time: $('#setTimeVal').val(),
                        ntp: $('#setNtpVal').val()
                    }),
                    success: function (data) {
                        console.log('success');
                        if (!alert('已更新完成')) {
                            window.location.reload(true);
                        }
                    },
                    error: function (data) {
                        console.log('error');
                        alert('更新失敗')
                        return false;
                    }
                });
            });
            $("#setWatchDog1").on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "setWatchDog1",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        setWatchDogVal1: $('#setWatchDogVal1').val()
                    }),
                    success: function (data) {
                        console.log('success');
                        if (!alert('已更新完成')) {
                            window.location.reload(true);
                        }
                    },
                    error: function (data) {
                        console.log('error');
                        alert('更新失敗')
                        return false;
                    }
                });
            });
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DDS</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-sm-2 col-xs-4 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">系統設定
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="ipSettingMain">IP 設定(內建網卡）</a>
                    </li>
                    <li>
                        <a href="ipSettingSecond">IP 設定(外接網卡）</a>
                    </li>
                    <li>
                        <a href="iniCreate">ini 建立</a>
                    </li>
                    <li>
                        <a href="iniUpdate">ini 設定</a>
                    </li>
                    <li>
                        <a href="ping">網路診斷</a>
                    </li>
                    <li>
                        <a href="logs">流量統計紀錄分析</a>
                    </li>
                    <li>
                        <a href="sentTest">傳輸測試</a>
                    </li>
                    <li>
                        <a href="rpiSetting">設定</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-8 col-xs-offset-4 main">
                <h1 class="page-header">設定</h1>
                <h2>時間設定</h2>
                <div class="setTime">
                    <div>
                        <p class="inline">（1）對時方式：</p>
                        <select id="dateMethod" name="dateMethod">
                            <option value="manual">手動對時</option>
                            <option value="gps">GPS對時</option>
                            <option value="ntp">NTP對時</option>
                        </select>
                    </div>
                    <br>
                    <div class="date-set">
                        <p class="inline">（2）日期設定：</p>
                        <input type="date" class="date" id="setDateVal" name="date" /><br><br>
                        <p class="inline">（3）時間設定：</p>
                        <input type="time" class="date" id="setTimeVal" name="time" />
                    </div>
                    <div class="set-ntp-display">
                        <p class="inline">（2）NTP設定：</p>
                        <input type="text" class="date" id="setNtpVal" name="ntp" /><br>
                    </div>
                    <input class="btn btn-primary btn-lg btn-sty" type="button" id="setTime" value="送出" />
                </div><br>
                <h2>Watch Dog 設定</h2>
                <div class="setWatchDog">
                    <p class="inline">1分鐘 (需大於等於24)：</p>
                    <input type="number" id="setWatchDogVal1">
                    <button id="watchDogCancel1">取消</button>
                    <button id="setWatchDog1">送出</button><br><br>
                    <p class="inline">5分鐘（需大於等於20）：</p>
                    <input type="number" id="setWatchDogVal5">
                    <button id="watchDogCancel5">取消</button>
                    <button id="setWatchDog5">送出</button><br><br>
                    <p class="inline">15分鐘（需大於等於20）：</p>
                    <input type="number" id="setWatchDogVal15">
                    <button id="watchDogCancel15">取消</button>
                    <button id="setWatchDog15">送出</button><br><br>
                    <p class="inline">CPU溫度（需大於等於40）：</p>
                    <input type="number" id="setWatchDogValCPU">
                    <button id="watchDogCancelCPU">取消</button>
                    <button id="setWatchDogCPU">送出</button><br><br>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScrip
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js "></script>
    <script>
        window.jQuery || document.write('<script src="/static/js/jquery.min.js "><\/script>')
    </script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/holder.min.js "></script>
</body>

</html>