<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/rpiSetting.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <script>
        window.onload = function () {
            $("#date-method").change(function () {
                if ($(this).val() == 'manual') {
                    $("#date-set").show();
                } else {
                    $("#date-set").hide();
                }
            });
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">DDS</a>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-sm-2 col-xs-4 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">系統設定
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="ipSettingMain">IP 設定(內建網卡）</a>
                    </li>
                    <li>
                        <a href="ipSettingSecond">IP 設定(外接網卡）</a>
                    </li>
                    <li>
                        <a href="iniCreate">ini 建立</a>
                    </li>
                    <li>
                        <a href="iniUpdate">ini 設定</a>
                    </li>
                    <li>
                        <a href="ping">網路診斷</a>
                    </li>
                    <li>
                        <a href="logs">流量統計紀錄分析</a>
                    </li>
                    <li>
                        <a href="sentTest">傳輸測試</a>
                    </li>
                    <li>
                        <a href="rpiSetting">設定</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-8 col-xs-offset-4 main">
                <h1 class="page-header">設定</h1>
                <h2>時間設定</h2>
                <div class="setTime">
                    <div>
                        <p class="inline">（1）對時方式：</p>
                        <select id="date-method">
                            <option value="manual">手動對時</option>
                            <option value="gps">GPS對時</option>
                            <option value="ntp">NTP對時</option>
                        </select>
                    </div>
                    <br>
                    <div id="date-set">
                        <p class="inline">（2）日期設定：</p>
                        <input type="date" class="date" /><br><br>
                        <p class="inline">（3）時間設定：</p>
                        <input type="time" class="date" />
                    </div>
                    <input class="btn btn-primary btn-lg btn-sty" type="button" value="送出" />
                </div>
                <h2>Watch Dog 設定</h2>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScrip
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js "></script>
    <script>
        window.jQuery || document.write('<script src="/static/js/jquery.min.js "><\/script>')
    </script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/holder.min.js "></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js "></script>
    <script src="/static/js/socket.js"></script>
</body>

</html>